全プレイヤー数: <%= @players.count %>

<table border="1">
    <tr>
        <th>ユーザーID</th>
        <th>名前</th>
    </tr>

<% @players.each do |player| %>
    <tr>
        <td><%= player.id %></td>
        <td><%= player.name %></td>
    </tr>
<% end %>
</table>
