%h2 所持 rails 保有数上位5人
.ranking
  - @players.each do |player|
    .ranking_row
      = player.name
      = player.rails
%h2 貯 rails 保有数上位5人
.ranking-bank
  - @banks.each do |user_bank|
    .rankng-bank_row
      = user_bank.player.name
      = user_bank.rails

=link_to("戻る", root_path)
