%h2 モンスターが現れた
%li
  = link_to("1ターンだけ戦う", "/battle/" + area_node_id.to_s + "/1")
%li
  = link_to("決着がつくまで戦う", "/battle/" + area_node_id.to_s)
%li
  = link_to('逃げる(失敗すると戦闘突入)', "/battle/escape/#{area_node_id.to_s}")
