%h1 逃げるのに成功した！
- if @dungeon_entity && @dungeon_entity.is_entering_dungeon
  = render 'dungeon/actions', object: { dungeon_entity: @dungeon_entity, current_encounter: nil, area_node_id: nil }
- else
  = render 'view_objects/target_routes', target_routes: @target_routes, current: @current
