<h1>戦闘</h1>

<% @turn_result_list.each do |turn_result|%>
======== <br>
    ターン: <%= turn_result.turn_count %> <br>
    <% turn_result.action_list.each do |action| %>
        <%= action.result %><br>
    <% end %>
-------- <br>
    <% turn_result.result_list.each do |result| %>
        <%= result %><br>
    <% end %>
<% end %>
