<div class="battle-character-status">
    <!-- キャラ名 -->
    <div class="battle-character-name">
        <%= status.name %>
    </div>
    <!-- hp gauge -->
    <div class="battle-character-gauge-all">
        <div class="battle-character-gauge-current" style="width:<%= status.hp_rate %>px;">
        </div>
    </div>
</div>
