.battle-character-status
  / キャラ画像
  .battle-character-image
    - if status.image
      = image_tag(status.image, :size => '128x128')
  / キャラ名
  .battle-character-name
    = status.name
  / hp gauge
  .battle-character-gauge-all
    .battle-character-gauge-current{:style => "width:#{status.hp_rate}px;"}
