<div id="body"><div id="box0" class="status">
        <div id="title"> ステータス表示 </div>
        <div id="rows">
            <div id="column"> attack </div> <div id="column"> <%= status.attack %> </div>
        </div>
        <div id="rows">
            <div id="column"> defense </div> <div id="column"> <%= status.defense %> </div>
        </div>
        <div id="rows">
            <div id="column"> hit point </div> <div id="column"> <%= status.hp %> / <%= status.hp_max %> </div>
        </div>
</div>
