ステータス表示 <br>
<table>
    <tr>
        <td> attack </td>
        <td> <%= status.attack %></td>
    </tr>
    <tr>
        <td> defense </td>
        <td> <%= status.defense %> </td>
    </tr>
    <tr>
        <td> hit point </td>
        <td> <%= status.hp %> / <%= status.hp_max %> </td>
    </tr>
</table>
