div.battle-character-status{
    width: 200px;
    display: block;
    float: left;
}

div.battle-character-gauge-all{
    width: 100px;
    height: 5px;
    background-color: #FF6464;
    border: solid;
    border-width: thin;
}

div.battle-character-gauge-current{
    height: 5px;
    background-color: #99ff66;
}

