#box0{
      top:50px;
      left:383px;
      width:160px;
      height:140px;
      position:absolute;
      border-style:solid;
      solid-width: 1px;
}
#title{
    text-align: center;
}
#rows {
  display: table;
  width: 100%;
  padding: {
    left: 3px;
  }
}
#column {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
