#box0{
      width:320px;
      height:140px;
      border-style:solid;
      solid-width: 1px;
      float:left;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 8px
}
#title{
    text-align: center;
}
#rows {
  display: table;
  width: 100%;
  padding: {
    left: 3px;
  }
}
#column {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
