// Place all the styles related to the area controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.area-layout{
    display: -webkit-box;
}
div.area-left-layout{
    width: 500px;
    margin-left: 20px;
}
div.area-status{
    top: 100px;
    left: 500px;
    width: 200px;
    height: 500px;
}
