// Place all the styles related to the battle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.battle-one-turn{
    clear:both;
}
div.battle-party-a{
    clear:both;
    width: 600px;
    height: 50px;
}

div.battle-party-b{
    clear:both;
    width: 600px;
    height: 50px;
}
