%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
/ agrarian_728_90
%ins.adsbygoogle{"data-ad-client" => "ca-pub-9321975971123036", "data-ad-slot" => "8014979530", :style => "display:inline-block;width:728px;height:90px"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});
